.container-5
{
    width: 75%;
    margin: 0 auto;
    text-align: center;
    border: 1px solid blueviolet;
}

.flex-blackjack-row-1,.flex-blackjack-row-2,.flex-blackjack-row-3
{
    display: flex;
    padding: 10px; 
    justify-content: space-evenly;
    border: 1px solid darkcyan;
    flex-wrap: wrap;
    flex-direction: row;
   /* background-color: green;*/
}

.flex-blackjack-row-1,.flex-blackjack-row-2{
    background: url('https://amymhaddad.s3.amazonaws.com/morocco-blue.png');
    color: rgba(3, 3, 3, 0.849);
    
}
.flex-blackjack-row-1 div
{
    border: 1.5px solid red;
    padding: 10px;
    flex: 1 ;       /* separate the 2 divs equally*/
    height: 350px;
    text-align: center;
}

.flex-blackjack-row-2 div
{
    border: 2px solid salmon;
    padding: 10px;
}

.flex-blackjack-row-1 img
{
    width: 25%;
    padding: 10px;
}

table,th,td
{
    padding: 5px;
    border: 1px solid purple;

}
